body {
    background-color: #fcf8cb;
    color: black;
  }
  .title {
    text-align: center;
    font-family: 'Newsreader', serif;
  }
  .fontTexto {
    font-family: 'Montserrat', sans-serif;
  }
  h1 {
    color: black;
  }
  h2 {
    font-size: 1.6em;
    color: rgb(110, 148, 184);
  }
  .center {
    text-align: center;
  }
  #MinhaFoto{
   border-radius: 10%;
   text-align: center;
   display: block;
   margin: 0 auto;
  }
  .container {
    text-align: center;
  }
  .button {
    text-decoration: none;
    color: black;
    background-color: rgb(125, 169, 209);
    padding: 10px 15px;
    border-radius: 4px;
  }
  ul {
    margin: 0 auto;
    display: inline-block;
    text-align: left;
  }
  
  #github {
  width: 100px;
    margin-bottom: 20px;
  }
  
  #instagram {
    width: 100px;
    margin-bottom: 20px;
  }
  
  #linkedin {
    width: 100px;
    margin: 20px;
  }
  
  .no-style li {
    list-style: none;
    display: inline-block;
  }